@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  color: white;
  background-color: #0e0f0f;

  text-align: center;
}

/* Navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #2fb9ef;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}
.navbar a:hover {
  color: #009cda;
}

/* Home styles */
.box-header{
  margin-top: 40px;
}

.box-header a{
  text-decoration: none;
}

.box-body{
  margin-top: 10px;
}

.box-body a{
  text-decoration: none;
  color: white;
}

.box-body a:hover{
  text-decoration: none;
  color: #009cda;
}

.box-body p{
  width: 40%
}

.vertical-timeline-element--work{
  background: none;
}


/* Not found */
.not-found{
  padding: 40px;
}

.not-found h1{
  color: orange;
  padding-bottom: 30px;
}

.not-found p{
  color: cyan;
  padding-bottom: 30px;
}

.not-found a{
  text-decoration: none;
  color: #009cda;
}

.not-found a:hover{
  text-decoration: none;
  color: white;
}

